<template>
  <div>
    <NavBar></NavBar>
    <h2>Total Account</h2>
    <div class="container">
      <section class="list">
        <ul class="list-item">
          <li v-for="(item, index) in dailyMenu" :key="index">
            <label for="checkbox">{{ item.itemName }}</label>
            <button
              class="small-button"
              v-if="dailyMenu[index].alPeso"
            >{{dailyMenu[index].total}} gr</button>
            
            <button
              class="small-button"
              v-if="!dailyMenu[index].alPeso"
            >{{dailyMenu[index].total}} ud</button>
          </li>
        </ul>
      </section>
      <div>
        <label :v-model="totalAccount">Total: {{totalAccount}} €</label>
      </div>
      <div>
        <label v-if="discout3x2 || discountMenu" :v-model="totalDiscount">
          Total with Discount
          <label v-if="discout3x2">3x2</label>
          <label v-if="discountMenu">Full Menu</label>
          : {{totalDiscount}} €
        </label>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from "@/components/Navbar.vue";

export default {
  name: "about",
  props: ["dailyMenu"],
  components: {
    NavBar
  },
  data() {
    return {
      totalAccount: 0,
      totalDiscount: 0,
      discout3x2: false,
      discountMenu: false,
      food: "Comida",
      drink: "Bebida",
      dessert: "Postre"
    };
  },
  created() {
    if (this.dailyMenu) this.getTotal();
  },
  methods: {
    resetAccount: function() {
      this.totalAccount = 0;
      this.totalDiscount = 0;
      this.discout3x2 = false;
      this.discountMenu = false;
    },
    getTotal: function() {
      this.resetAccount();
      //Only if the user came from the main page we calculate the discount
      for (let i = 0; i < this.dailyMenu.length; i++) {
        if (this.getWeightType(this.dailyMenu[i])) {
          this.totalAccount +=
            parseFloat(this.dailyMenu[i].precio) * this.dailyMenu[i].total;
          this.totalAccount = parseFloat(this.totalAccount) / parseInt(100);
        } else {
          this.totalAccount +=
            parseFloat(this.dailyMenu[i].precio) * this.dailyMenu[i].total;
        }
      }
      if (this.canGetFullMenu()) {
        // Only apply one discount, preferens to Full Menu
        this.totalDiscount += this.totalAccount * parseFloat(0.8); // 20% Full Menu
      } else {
        this.canGetThreeByTwo();
      }
      this.fixDecimals();
    },
    fixDecimals: function() {
      this.totalAccount = this.totalAccount.toFixed(2);
      this.totalDiscount = this.totalDiscount.toFixed(2);
    },
    getType: function(item) {
      return item.tipo;
    },
    getWeightType: function(item) {
      return item.alPeso;
    },
    canGetThreeByTwo: function() {
      for (let i = 0; i < this.dailyMenu.length; i++) {
        if (
          this.dailyMenu[i].total >= 3 &&
          !this.getWeightType(this.dailyMenu[i])
        ) {
          this.discout3x2 = true;
          this.totalDiscount +=
            parseFloat(this.dailyMenu[i].precio) * parseInt(2);
          const extraUnits = parseFloat(this.dailyMenu[i].total) - 3;
          if (extraUnits !== 0)
            this.totalDiscount +=
              parseFloat(this.dailyMenu[i].precio) * extraUnits;
        }
      }
    },
    canGetFullMenu: function() {
      let fullMenu = {
        firstPlate: false,
        drink: false,
        dessert: false
      };

      for (let i = 0; i < this.dailyMenu.length; i++) {
        if (this.getType(this.dailyMenu[i]) === this.food) {
          fullMenu.firstPlate = true;
        } else if (this.getType(this.dailyMenu[i]) === this.drink) {
          fullMenu.drink = true;
        } else {
          fullMenu.dessert = true;
        }
      }
      if (fullMenu.firstPlate && fullMenu.drink && fullMenu.dessert) {
        this.discountMenu = true;
      }
      return this.discountMenu;
    }
  }
};
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
}

.marging {
  margin-top: 15px;
}

body {
  line-height: 1;
  font-family: "Lato", sans-serif;
  background-color: #eff1f2;
}

.container {
  width: 30%;
  margin: 1em auto 3em;
  border: 1px solid #8c8c8c;
}

.panel,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid #8c8c8c;
  background-color: rgb(210, 212, 214);
}

.text-input {
  border: 1px solid #dedede;
  padding-left: 10px;
  width: 60%;
  height: 35px;
  color: #555;
}

button {
  color: #555;
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  outline: 0;
  width: 100px;
  height: 38px;
  cursor: pointer;
  font-size: 14px;
}

.small-button {
  color: #555;
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  outline: 0;
  width: 100px;
  height: 38px;
  cursor: pointer;
  font-size: 13px !important;
}

/* Task  area */
.list li {
  background-color: #ffcc80;
}

.list li button {
  background-color: transparent;
  color: rgb(0, 0, 0);

  font-size: 20px;
  font-weight: bold;
}

.list li:hover > button {
  visibility: visible;
}

.list label {
  padding-right: 10px;
  display: inline-block;
  width: 70%;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  z-index: 2;
  overflow: hidden;
}

.list li.done label {
  color: #000000;
  text-decoration: line-through;
}

.credit a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.credit a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    max-width: 90%;
  }

  .text-input,
  .list label {
    width: 60%;
    font-size: 14px;
  }

  button {
    width: 50px;
    height: 50px;
  }
}
</style>