<template>
  <div class="doc">
    <NavBar></NavBar>
    <h2>Documentation about the Daily Menu App</h2>

    <p>
      First of all you need to install all dependencies so use
      <strong>npm install</strong> in webapp root to install it. After that if you want to
    </p>
    <p>
      run in localhost, just to check some parts of the code or for other reason you have to type
      <strong>npm run serve</strong>, this starts
    </p>
    <p>
      the application and you should see something similar to
      <strong>App running at http://localhost:8080/</strong>
      Besides here you have
    </p>
    <p>
      the link to the public repository on
      <strong>
        <a href="https://bitbucket.org/Alejandro_Guerra/mums/src/master/">BitBucket</a>
      </strong> to see all the code.
    </p>

    <br>
    <p>On the one hand I chose Firebase in order to simplify and speed up the project structure, because it's easier</p>
    <p>to set up all the steps to start working on your application.</p>
    <br>

    <p>Funthermore there is a folder in order to create unit test cases, all the software created need to be tested. Also</p>
    <p>if the application works inside another big project, it's necesary create integration test cases just to be sure that</p>
    <p>all continue working. Finally I dind't have enought time to create unit test cases but if I would have time, I would</p>
    <p>have used Mocha and Chai Frameworks.</p>
  </div>
</template>

<script>
import NavBar from "@/components/Navbar.vue";

export default {
  name: "doc",
  components: {
    NavBar
  }
};
</script>

<style scoped>
.doc {
  margin-top: 40px;
}
p {
  justify-content: center;
  margin-top: 10px;
  font-size: 15px;
}
li {
  margin-top: 40px;
  font-size: 15px;
}

h2 {
  margin-bottom: 40px;
}

p a {
  text-decoration: underline;
  cursor: pointer;
}

.justify-content {
  display: flex;
  justify-content: center;
}
</style>