<template>
  <div class="landing">
    <NavBar></NavBar>
    <h2>Welcome to the Daily Menu</h2>
    <MenuListPage></MenuListPage>
    <FooterBar></FooterBar>
  </div>
</template>

<script>
// @ is an alias to /src
import FooterBar from "@/components/Footer.vue";
import NavBar from "@/components/Navbar.vue";
import MenuListPage from "@/components/MenuListPage.vue";

export default {
  name: "landing",
  data() {
    return {
      email: "",
      password: "",
      error: ""
    };
  },
  components: {
    NavBar,
    FooterBar,
    MenuListPage
  },
  methods: {}
};
</script>

<style scoped>
.landing {
  margin-top: 40px;
}
input {
  margin: 10px 0;
  width: 20%;
  padding: 15px;
}
button {
  margin-top: 20px;
  width: 10%;
  cursor: pointer;
}
p {
  margin-top: 40px;
  font-size: 13px;
}
p a {
  text-decoration: underline;
  cursor: pointer;
}

.toasted-container .toasted > svg {
  margin-right: 0.5rem;
  margin-left: -0.4rem;
}
</style>