<template>
  <mdb-footer color="stylish-color-dark" class="page-footer font-small pt-4 mt-4">
    <mdb-container class="text-left">
      <mdb-row>
        <mdb-col md="6">
          <label class="text-uppercase mb-4 mt-3 font-weight-bold">Alejandro Guerra</label>
          <a class="btn-floating btn-sm btn-li mx-1" v-on:click="openLink()">
            <i class="fab fa-linkedin-in padding-left move-over"></i>
          </a>
        </mdb-col>
        <hr class="clearfix w-50 d-md-none padding-bottom">
      </mdb-row>
    </mdb-container>
  </mdb-footer>
</template>

<script>
import { mdbFooter, mdbContainer, mdbRow, mdbCol } from "mdbvue";

export default {
  name: "FooterPage",
  components: {
    /* eslint-disable */
    mdbFooter,
    /* eslint-disable */
    mdbContainer,
    /* eslint-disable */
    mdbRow,
    /* eslint-disable */
    mdbCol
  },
  methods: {
    openLink: function() {
      window.open("https://www.linkedin.com/in/alejandro-guerra-carbonell/");
    }
  }
};
</script>

<style scoped>
.md-menu {
  margin: 24px;
}

.padding-left {
  padding-left: 10px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.move-over {
  cursor: pointer;
}
</style>