<template>
  <div class="container">
    <section class="list">
      <ul class="list-item">
        <li v-for="(task, index) in tasks" :key="index">
          <label for="checkbox">{{ task.itemName }}</label>
          <button
            class="small-button"
            v-if="tasks[index].alPeso"
            v-on:click="incrementGrs(index)"
          >+ {{tasks[index].total}} gr</button>
          <button
            class="small-button"
            v-if="!tasks[index].alPeso"
            v-on:click="incrementUds(index)"
          >+ {{tasks[index].total}} ud</button>
          <button class="delete" @click="backToCero(index)">X</button>
        </li>
      </ul>
    </section>
    <md-menu md-size="medium">
      <router-link :to="{ name: 'Cart', params: {dailyMenu } }">
        <md-button>
          <i class="fas fa-cart-plus fa-2x"></i>
        </md-button>
      </router-link>
    </md-menu>
  </div>
</template>

<script>
import MenuService from "@/services/MenuService.js";

export default {
  name: "MenuListPage",
  data() {
    return {
      tasks: [],
      newTask: "",
      editingTask: {},
      dailyMenu: [],
      total: 0
    };
  },
  created() {
    MenuService.getMenu(
      response => {
        this.tasks = response.data;
        return;
      },
      error => {
        this.error = error.error;
      }
    );
  },
  computed: {
    areAllSelected: function() {
      return (
        this.tasks.every(function(task) {
          return task.checked;
        }) && this.tasks.length > 0
      );
    }
  },
  methods: {
    addTask: function() {
      var task = this.newTask.trim();
      if (task) {
        this.tasks.push({ itemName: task, checked: false });
        this.newTask = "";
      }
    },
    backToCero: function(index) {
      this.tasks[index].total = 0;
    },
    selectAll: function() {
      var targetValue = this.areAllSelected ? false : true;
      for (var i = 0; i < this.tasks.length; i++) {
        this.tasks[i].checked = targetValue;
      }
    },
    check: function(index) {
      this.tasks[index].checked = this.tasks[index].checked ? false : true;
    },
    incrementGrs: function(index) {
      if (!this.dailyMenu.includes(this.tasks[index])) {
        this.dailyMenu.push(this.tasks[index]);
      }

      const indexOfDaily = this.dailyMenu.indexOf(this.tasks[index]);
      this.dailyMenu[indexOfDaily].total += 100;
    },
    incrementUds: function(index) {
      if (!this.dailyMenu.includes(this.tasks[index])) {
        this.dailyMenu.push(this.tasks[index]);
      }

      const indexOfDaily = this.dailyMenu.indexOf(this.tasks[index]);
      this.dailyMenu[indexOfDaily].total += 1;
    }
  }
};
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  line-height: 1;
  font-family: "Lato", sans-serif;
  background-color: #eff1f2;
}

.container {
  width: 30%;
  margin: 1em auto 3em;
  border: 1px solid #8c8c8c;
}

.panel,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid #8c8c8c;
  background-color: rgb(210, 212, 214);
}

.text-input {
  border: 1px solid #dedede;
  padding-left: 10px;
  width: 60%;
  height: 35px;
  color: #555;
}

button {
  color: #555;
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  outline: 0;
  width: 100px;
  height: 38px;
  cursor: pointer;
  font-size: 14px;
}

.small-button {
  color: #555;
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  outline: 0;
  width: 100px;
  height: 38px;
  cursor: pointer;
  font-size: 13px !important;
}

/* Task  area */
.list li {
  background-color: #ffcc80;
}

.list li button {
  background-color: transparent;
  color: rgb(0, 0, 0);
  visibility: hidden;
  font-size: 20px;
  font-weight: bold;
}

.list li:hover > button {
  visibility: visible;
}

.list label {
  padding-right: 10px;
  display: inline-block;
  width: 70%;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  z-index: 2;
  overflow: hidden;
}

.list li.done label {
  color: #000000;
  text-decoration: line-through;
}

.credit a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.credit a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    max-width: 90%;
  }

  .text-input,
  .list label {
    width: 60%;
    font-size: 14px;
  }

  button {
    width: 50px;
    height: 50px;
  }
}
</style>
