<template>
  <div class="container">
    <md-menu md-size="medium">
      <router-link to="/landing">
        <md-button>
          <i class="fas fa-shopping-basket fa-2x"></i>
        </md-button>
      </router-link>
    </md-menu>

    <md-menu md-size="medium">
      <router-link to="/doc">
        <md-button>Doc</md-button>
      </router-link>
    </md-menu>
  </div>
</template>

<script>
export default {
  name: "Navbar",
  components: {},
  data() {
    return {
      logged: false
    };
  },
  methods: {}
};
</script>

<style scoped>
.container {
  width: 30%;
  margin: 1em auto 3em;

  border: 1px solid #8c8c8c;
  background-color: #ffcc80;
}

.md-menu {
  margin: 24px;
}
</style>